*.o
*.exe
*.a
/mdxfind
/mdsplit
/mdxpause
.claude/
RCS/
job_types.h

# make deps build artifacts
deps/
openssl/
gosthash/gost2012/sbob_pi64.c
gosthash/gost2012/sbob_tab64.c
gosthash/gost2012/stribob.h
gosthash/gost2012/*.o
gosthash/gost2012/gost2012.a
gosthash/*.o
bcrypt-master/
yescrypt/
mutils/
sph_*.h
mhash.h
rhash.h
rhash_torrent.h
md6.h
Judy.h
pcre.h
pcreposix.h
pcre_internal.h
pcre_scanner.h
pcrecpp.h
pcrecpparg.h
*.o
*.a
gosthash/gostan
gosthash/gosttest
gosthash/gost2012/stricat/
gosthash/gost2012/stricat-*.tgz
gosthash/gost2012/Makefile
gosthash/Makefile
gosthash/README
gosthash/*.ps
gosthash/gostan.c
gosthash/gosttest.c
argon2/Makefile
lm/Makefile
deps/
